<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   
    <h1> Todo list:</h1>
    
    <form action="/insert" method="post">
        <input type="text" name="username">
        <button type="submit">Add</button>
    </form>
    Recent task added : {{username}}
    <h1> Added todo:</h1>
    <div>
    {% for i in todoList %}
    {{i.id}} | {{i.username}}<a href="/delete/{{i.id}}">Delete</a><br>
    {% endfor %}
</div>
    

</body>

</html>

</html>